# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

## Frontend service ignore

# dependencies
/frontend/node_modules
/frontend/.pnp
/frontend/.pnp.js

# env
/frontend/.env

# testing
/frontend/coverage

# next.js
/frontend/.next/
/frontend/out/

# production
/frontend/build

# misc
/frontend/.DS_Store
/frontend/*.pem

# debug
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*

# local env files
/frontend/.env.local
/frontend/.env.development.local
/frontend/.env.test.local
/frontend/.env.production.local

# vercel
/frontend/.vercel


## API Service ignore

# compiled output
/api/dist
/api/node_modules
/api/.env
# Logs
/api/logs
/api/*.log
/api/npm-debug.log*
/api/pnpm-debug.log*
/api/yarn-debug.log*
/api/yarn-error.log*
/api/lerna-debug.log*

# OS
/api/.DS_Store

# Tests
/api/coverage
/api/.nyc_output

# IDEs and editors
/api/.idea
/api/.project
/api/.classpath
/api/.c9/
/api/*.launch
/api/.settings/
/api/*.sublime-workspace

# IDE - VSCode
/api/.vscode/*

/api/terraform

/api/dump.rdb


## Deploy Service

/deployment/node_modules
/deployment/config/key_pair.pem
/deployment/.env
/deployment/frontend/.env
/deployment/api/.env